.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.header__title { 
  width: 730px;
  align-self:center;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  left: 64px;
  position: absolute;
  z-index: 5;
}
.title{
  display: flex;

}
.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  }
.subtitle{
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  align-self: flex-end;
  z-index: 5;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.main-illustration{
position: absolute;
width: 765px;
height: 608px;
z-index: 2;
right:0;
padding-top:100px;

}

.square-pic{
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  z-index: 1;
  right: 0%;
}

.header__logo {
position: absolute;
z-index: 5;
top: 30px;
left: 64px;
}
.description{
  display: flex;
  margin: 100px auto;
}
.two-columns{
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.two-columns__brief{
line-height: 1.2;
font-size: 18px;
font-weight: normal;
color: #2f80ed;
width: 175px;
margin: 0;
padding: 0;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
}
.two-columns__paragraph{
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  margin-top: 30px;
}
.section{
  width: 250px;
  margin-bottom: 60px;
} 
.section-title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-top: 100px;
}
.h3{
  display: block;
}
.section-subtitle{
line-height: 34px;
text-align: center;
width: 60%;
font-size:24px ;
font-weight: normal;
margin: 0 auto;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
margin-top: 20px;
}
.h4{
  display: block;
  display: flex;

}
.table{
  display: flex;
  flex-flow: row wrap;
  width: 1100px;
  margin-bottom: 100px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-self: start;
  row-gap: 60px;
}
.table__cell{
  display: flex;
  flex-direction: row;
  max-width: 250px;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  align-self: start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}
.feynman{
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  height: 790px;
  
}
.feynman__title{
  z-index: 2;
line-height: 1.15;
font-size: 120px;
font-weight: 600;
width: 648px;
padding-top: 100px;
text-align: center;
margin: 0;
position: relative;
}
.feynman__subtitle{
  z-index:2;
  row-gap:  70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  position: absolute;
  margin: 0;
}
.feynman__image{
  position: absolute;
  z-index: 1;
  margin: 0;
  left: 0;
  bottom: 0;
  padding-top: 100px;
}
.kaufman{
  padding: 90px 0;
  position:relative;
  z-index: -2;
  background-color: #1f1f1f;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  display: block;
}
.kaufman__triangle{
z-index: -1;
background-image: url(/images/kaufman-triangle.svg);
background-size:cover;
position: absolute;
top: 0;
right:-210px;
}
.section-title__theme_dark{
  color: #f2f2f2;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle__theme_dark{
  color: #f2f2f2;
  margin: auto;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}
.table__theme_dark{
  margin-top: 80px;
  width: 1100px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 200px 200px 200px 200px 200px;
  margin: 0 auto;
}
.table__cell_theme_dark{
  display: block;
  padding-right: 5px;
  margin-top: 80px;
}
.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text_theme_dark{
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}
.footer__author{
  color:#f2f2f2;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading{
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer__column_content-info{
  display: flex;
  flex-direction: column;
  
}
.footer__column_content-social{
  display: flex;
  flex-direction: column;
}
.footer__column-links{
  color: #f2f2f2;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;  
  justify-content: space-between;
  text-decoration: none;
  margin: 0;
  padding: 0;


  
}
.footer__column-link{
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  
  
}
.footer__columns{
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
}
.footer__column{
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction:column ;
}
.logo__place_footer{
  width: 228px;
  height: 32px;
  color: #f2f2f2;

}